<h1><%= @item.name %></h1>
<h3>$<%= @item.price %></h3>
<hr>
<%= link_to 'Back to items', department_items_path(@department.id) %>
<%= link_to 'Edit item', edit_department_item_path(@department.id, @item.id) %>
<%= link_to 'Delete department', department_item_path(@department.id, @item.id), method: :delete %>
<hr>
